<header class="sheet-header">
  <div class="portrait">
    <img
      src="{{item.img}}"
      class="portrait"
      data-edit="img"
      data-action="onEditImage"
      title="{{item.name}}"
    />
  </div>
  <div class="name">
    <input
      name="name"
      type="text"
      value="{{item.name}}"
      placeholder="{{localize 'Name'}}"
      {{disabled (not editable)}}
    />
  </div>
  {{#if description}}
    <div class="description">
      {{formInput
        description.field
        name="system.description"
        value=description.value
        enriched=description.enriched
        toggled=true
      }}
    </div>
  {{/if}}
</header>
