<section
  class="tab details scrollable flexcol {{tab.cssClass}}"
  data-group="primary"
  data-tab="details"
>
  {{formGroup
    fields.action
    value=system.action
    blank=false
    localize=true
    disabled=(or (not editable) actor)
  }}
  {{#if (eq system.action "attack")}}
    {{formGroup fields.damage value=system.damage placeholder="0" disabled=(not editable)}}
    {{#if (eq system.range.kind "bespoke")}}
      <img src={{system.range.svg_uri}} />
    {{else}}
      {{system.range.short_text}}
    {{/if}}
    <a class="control" data-action="editRange"><i class="fas fa-edit"></i></a>
  {{else if (eq system.action "reversal")}}
    {{formGroup fields.uses value=system.uses disabled=(not editable)}}
    {{formGroup fields.trigger value=system.trigger disabled=(not editable)}}
  {{/if}}
  {{#if (eq system.action "limit")}}
    {{formGroup fields.break_value value=system.break_value disabled=(not editable)}}
  {{/if}}
  {{formInput
    effect.field
    enriched=effect.enriched
    value=effect.value
    toggled=true
    disabled=(not editable)
  }}
  {{formGroup fields.item.fields.type value=system.item.type localize=true disabled=(not editable)}}
  {{formGroup fields.item.fields.uuid value=system.item.uuid disabled=(not editable)}}
</section>