<section
  class="tab details scrollable flexcol {{tab.cssClass}}"
  data-group="primary"
  data-tab="details"
>
  <div class="input-box health"><label>{{localize "HELLPIERCERS.ITEM.FIELDS.health.label"}}</label>
    {{formInput fields.health value=system.health disabled=(not editable)}}
  </div>
  <div class="input-box active"><label>{{localize "HELLPIERCERS.ITEM.FIELDS.active.label"}}</label>
    {{formInput fields.active value=system.active disabled=(or actor (not editable))}}
  </div>
  <div class="input-box passive"><label>{{localize
        "HELLPIERCERS.ITEM.FIELDS.passive.label"
      }}</label>
    {{formInput fields.passive value=system.passive disabled=(or actor (not editable))}}
  </div>
  <div class="input-box limit"><label>{{localize "HELLPIERCERS.ITEM.FIELDS.limit.label"}}</label>
    {{formInput fields.limit value=system.limit disabled=(or actor (not editable))}}
  </div>
</section>
