<section
  class="tab abilities {{tab.cssClass}} scrollable"
  data-group="primary"
  data-tab="abilities"
>
  <div class="weapon flexcol" data-uuid={{weapon.uuid}}>
    <div class="flexrow">
      <select name="system.weapon">
        {{selectOptions
          weaponChoices
          selected=system.weapon._id
          blank=(localize "TYPES.Item.weapon")
        }}
      </select>
      {{#if weapon}}
        <a class="weapon-damage control" data-drag="attack" data-action="onBeginAttack">
          <i class="fas fa-dice"></i>
        </a>
        {{#each weapon.system.range as |range|}}
          <a
            class="weapon-range control"
            style="cursor: help"
            data-tooltip="{{ifThen
              (eq range.kind 'bespoke')
              (concat '<img src=' range.svg_uri '>')
              range.short_text
            }}"
          >
            <i class="fas fa-ruler-combined"></i>{{range.label}}&nbsp;
          </a>
        {{/each}}
        <a class="control" data-action="onEmbedSheet"><i class="fas fa-edit"></i></a>
        <a class="control" data-action="onDeleteEmbed"><i class="fas fa-trash"></i></a>
      {{/if}}
    </div>
    {{#if weapon}}
      <div>
        <strong>Active</strong>:
        <em>{{weapon.system.active.name}}</em>
        —
        {{{weapon.system.active.description}}}
      </div>
      <div>
        <strong>Passive</strong>:
        <em>{{weapon.system.passive.name}}</em>
        —
        {{{weapon.system.passive.description}}}
      </div>
    {{/if}}
  </div>
  <fieldset class="armor" data-uuid={{armor.uuid}}>
    {{#if system.armor}}
      <legend>
        <span>{{armor.name}}</span>
        <a class="control" data-action="onEmbedSheet"><i class="fas fa-edit"></i></a>
        <a class="control" data-action="onDeleteEmbed"><i class="fas fa-trash"></i></a>
      </legend>
      <div>
        <strong>{{localize "HELLPIERCERS.ITEM.action.movement"}}:</strong>
        {{armor_movement.item.name}}
        {{{armor_movement.enriched}}}
      </div>
      <strong>{{localize "HELLPIERCERS.ITEM.action.active"}}:</strong>
      {{armor_ability.item.name}}
      {{{armor_ability.enriched}}}
      <div>
      </div>
      {{#if system.meta.reversal}}
        <div>
          <strong>{{localize "HELLPIERCERS.ITEM.action.reversal"}}
            -
            {{localize "HELLPIERCERS.ITEM.FIELDS.uses.label"}}:
            {{armor_reversal.item.system.uses}}</strong>
          <br />
          <strong>{{localize "HELLPIERCERS.ITEM.FIELDS.trigger.label"}}:</strong>
          <span>{{armor_reversal.item.system.trigger}}</span>
          {{{armor_reversal.enriched}}}
        </div>
      {{/if}}
    {{else}}
      <legend>{{localize "HELLPIERCERS.ACTOR.SHEET.noarmor"}}</legend>
    {{/if}}
  </fieldset>
  <fieldset class="class" data-uuid={{class.uuid}}>
    {{#if system.class}}
      <legend>
        <span>{{class.name}}</span>
        <a class="control" data-action="onEmbedSheet"><i class="fas fa-edit"></i></a>
        <a class="control" data-action="onDeleteEmbed"><i class="fas fa-trash"></i></a>
      </legend>
      <div>
        <strong>{{localize "HELLPIERCERS.ITEM.action.active"}}:</strong>
        {{class_active.item.name}}
        {{{class_active.enriched}}}
      </div>
      <div>
        <strong> {{localize "HELLPIERCERS.ITEM.action.passive"}}:</strong>
        {{class_passive.item.name}}
        {{{class_passive.enriched}}}
      </div>
      {{#if system.meta.limit_break}}
        <div>
          <strong>{{localize "HELLPIERCERS.ITEM.action.limit"}}:</strong>
          {{class_limit.item.name}}
          <br />
          <strong>{{localize "HELLPIERCERS.ITEM.FIELDS.break_value.label"}}:</strong>
          {{class_limit.item.system.break_value}}
          {{{class_limit.enriched}}}
        </div>
      {{/if}}
    {{else}}
      <legend>{{localize "HELLPIERCERS.ACTOR.SHEET.noclass"}}</legend>
    {{/if}}
  </fieldset>
</section>
