<section class="tab abilities {{tab.cssClass}} scrollable" data-group="primary" data-tab="abilities">
  <div class="weapon flexcol">
    <div class="flexrow">
      <select name="system.weapon">
      {{selectOptions weaponChoices selected=system.weapon._id blank=(localize "TYPES.Item.weapon")}}
      </select>
      {{#if weapon}}
      <button class="weapon-damage" draggable="true"><i class="fas fa-dice"></i>{{weapon.system.damage}}</button>
      <button class="weapon-range"><i class="fas fa-ruler-combined"></i>&nbsp;</button>
      {{#each weapon.system.range as |range|}}
      <img src="{{range.svg_uri}}">
      {{/each}}
      {{/if}}
    </div>
    {{#if weapon}}
    <div>
      <strong>Active</strong>: <em>{{weapon.system.active.name}}</em> — {{{weapon.system.active.description}}}
    </div>
    <div>
      <strong>Passive</strong>: <em>{{weapon.system.passive.name}}</em> — {{{weapon.system.passive.description}}}
    </div>
    {{/if}}
  </div>
  <div class="armor">
  {{armor.name}}
  </div>
  <div class="class">
  {{class.name}}
  </div>
</section>
