<header class="sheet-header">
  <div class="charname">
    <input
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="{{localize 'Name'}}"
      {{disabled (not editable)}}
    />
  </div>
  <div class="pronouns">
    <label for="system.pronouns">{{localize "HELLPIERCERS.ACTOR.FIELDS.pronouns.label"}}</label>
    <div class="value">
      {{formInput
        fields.pronouns
        value=system.pronouns
        placeholder="any/all"
        classes="stacked header-group"
        disabled=(not editable)
      }}
    </div>
  </div>
  <div class="portrait">
    <img
      src={{actor.img}}
      class="portrait"
      data-edit="img"
      data-action="onEditImage"
      title={{actor.name}}
    />
  </div>
  <div class="hp">
    <label for="system.health.value">{{localize "HELLPIERCERS.ACTOR.FIELDS.health.label"}}</label>
    <div class="value">{{formInput
        fields.health.fields.value
        value=system.health.value
        max=system.health.max
        disabled=(not editable)
      }}</div>
    <div class="max">{{system.health.max}}</div>
  </div>
  <div class="speed">
    <div class="label">{{localize "HELLPIERCERS.ACTOR.FIELDS.speed.label"}}</div>
    <div class="value">{{system.speed}}</div>
  </div>
  <div class="chartags">
    <div class="label">{{localize "HELLPIERCERS.ACTOR.FIELDS.tags.label"}}</div>
    <div class="value tags input-element-tags">
      {{#each system.tags}}
        <div class="tag">{{this}}</div>
      {{/each}}
      <a class="control edit-tags" data-action="onEditTags"><i class="fas fa-edit"></i></a>
    </div>
  </div>
</header>
